<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

    <head>

        <title>SeLauger</title>

        {% load static %}

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/selauger.css' %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">

    </head>

    <body>

        <div id="af-error-container">
            <img id="logo-sl" src="{% static 'myapp/img/logo-selauger.png' %}" href="//wwww.seloger.com" alt="logo-selauger">
            <p>
                <b>404.</b>
                <ins></ins>
                <text>C'est une erreur.</text>
            </p>
            <a>Sans doute pas la bonne URL ...</a>
        </div>

    </body>
</html>