<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

    <head>

        <title>SeLoger</title>

        {% load static %}

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/seloger.css' %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">

    </head>

    <body>

        <div id="af-error-container">
            <img id="logo-sl" src="{% static 'myapp/img/logo-sl.png' %}" href="//wwww.seloger.com" alt="logo-sl">
            <p>
                <b>409.</b>
                <ins></ins>
                <text>C'est mieux, mais non.</text>
            </p>
            <a>Il va falloir creuser ...</a>
            <div id="indice">
                J'ai bien cru que t'allais pas le voir :)
                Essaye en tapant myapp/au-revoir.html
            </div>
        </div>

    </body>
</html>